<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ias_robot_defs)/robots/rosie.urdf.xml'"/>

  <node name="right_arm_joints" pkg="joint_state_gui" type="joint_state_sliders.py">
    <rosparam param="axes">
      - right_arm_0_joint
      - right_arm_1_joint
      - right_arm_2_joint
      - right_arm_3_joint
      - right_arm_4_joint
      - right_arm_5_joint
      - right_arm_6_joint
    </rosparam>
  </node>

  <node pkg="robot_state_chain_publisher" type="state_chain_publisher" name="robot_a_state_chain_publisher">
  </node>


  <node name="rviz" pkg="rviz" type="rviz" args="" output="screen"/>
</launch>


