<launch>
  <node name="joystick" pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="10"/>
    <param name="deadzone" value="0.1"/>
  </node>

  <node name="joystick_commander" pkg="feature_constraints_standalone"
        type="constraint_commander.py">
    <rosparam ns="mapping">
      [0, 1, 3, 4, _, _]
    </rosparam>
    <remap from="/command" to="/feature_controller/constraint_command"/>
    <remap from="/state" to="/feature_controller/constraint_state"/>
  </node>
</launch>
