<launch>

  <rosparam ns="loopback_controllers/joints">
    name: ['r_shoulder_lift_joint', 'r_wrist_flex_joint',
           'l_shoulder_pan_joint', 'r_wrist_roll_joint',
           'r_gripper_r_finger_tip_joint', 'l_elbow_flex_joint',
           'r_gripper_l_finger_tip_joint', 'l_forearm_roll_joint',
           'laser_tilt_mount_joint', 'r_shoulder_pan_joint',
           'l_wrist_roll_joint', 'r_gripper_r_finger_joint',
           'r_elbow_flex_joint', 'head_pan_joint',
           'torso_lift_joint', 'r_gripper_joint',
           'l_gripper_joint', 'l_shoulder_lift_joint',
           'r_gripper_l_finger_joint', 'r_forearm_roll_joint',
           'l_gripper_l_finger_tip_joint', 'l_gripper_r_finger_tip_joint',
           'l_gripper_l_finger_joint', 'r_upper_arm_roll_joint',
           'l_upper_arm_roll_joint', 'head_tilt_joint',
           'l_gripper_r_finger_joint', 'l_wrist_flex_joint']

    position: [0.9, -0.66,
               0.792, 0.0,
               0.0, -1.2,
               0.0, 1.0989291102257104,
               0.66626141400000016, -1.3469981633990615,
               -0.74078754771647315, 0.0,
               -1.8, 0.0,
               0.012, 0.0,
               0.0, -0.19817694999999991,
               0.0, -0.0012566370614357503,
               0.0, 0.0,
               0.0, -0.077019999999999644,
               1.1913900000000002, 0.66121278720000021,
               0.0, -0.20186800000000016]
  </rosparam>

  <include file="$(find ias_mechanism_controllers)/launch/pr2_loopback.launch"/>

  <node name="spatula_transform" pkg="tf" type="static_transform_publisher"
        args="0 -0.05 0.2  0 0 -0.2 /l_gripper_tool_frame /spatula 100"/>

  <node name="pancake_transform" pkg="tf" type="static_transform_publisher"
        args="0.5 0.0 -0.04  0 0 0 /torso_lift_link /pancake 100"/>

  <node name="table_transform" pkg="tf" type="static_transform_publisher"
        args="0.55 0.0 0.0  0 0 0 /base_footprint /table 100"/>


  <node name="spatula_rt_frame" type="tf2pose.py" pkg="motion_viz" args="/spatula /l_gripper_tool_frame /tool_pose -plain"/>
<!--  <node name="pancake_rt_frame" type="tf2pose.py" pkg="motion_viz" args="/pancake /torso_lift_link /object_pose -plain"/> -->

  <node name="spatula_model" pkg="itasc" type="spatula_model.py" args="/l_gripper_tool_frame"/>
  <node name="baker_model" pkg="itasc" type="baker_model.py" args="/table"/>

  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find itasc)/baking.vcg"/>

  <node name="chain_viz" type="chain_viz.py" pkg="motion_viz" cwd="node"/>

  <node name="spatula_frame" type="tf2pose.py" pkg="motion_viz" args="spatula base_link /spatula_frame -stamped"/>
  <node name="pancake_frame" type="tf2pose.py" pkg="motion_viz" args="pancake base_link /pancake_frame -stamped"/>

    <node launch-prefix="$(find itasc)/scripts/exec_in_dir.sh $(find itasc)/launch" name="itasc" type="cdeployer-gnulinux" pkg="ocl" args="-s pr2_joints.ops -l Error --" output="log">
    <remap from="qdot_mixed_ros" to="/l_arm_vel/command"/>
  </node>

</launch>
